.form{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    &__label{
      margin: 0  5px;
    }
    &__input{
      border: none;
      border-radius: 2px;
      padding: 5px;
      color: #000000;
      &--color{
        padding: 0;
        border: none;
        border-radius: 10px;
      }
    }
    &__btn{
       color: #15133C;
       padding: 5px 15px;
       border: 1px solid transparent;
       border-radius: 5px;
       cursor: pointer;
       margin-left: 10px;
       transition: .3s;
       &:hover{
        border: 1px solid #FFFFFF;
        color: #FFFFFF;
        background-color: #15133C;
       }
    }
  }